.chat-main
  .chat-main-header
    .left-header
      .group-title
        = @group.name
      .group-member 
        Member :
        - @group.users.each do |user|
          .member
            = user.name

    .right-header 
      .group-edit-btn
        = link_to edit_group_path(@group), class:'edit' do
          Edit

  .chat-main__message-list
    = render @messages

  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .input-box
        = f.text_field :content, class:'input-box__text',placeholder:'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image', class: 'input__icon')
          = f.file_field :image, class:'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'